.btn {
    background-color: var(--or);
    color: var(--night-blue);
    font-weight: bold;
    font-size: 1.6rem;
    border: none;
    padding: 1rem 0;
    cursor: pointer;
    width: 100%;
}

i {
    font-size: 2.4rem;
    margin-right: 0.5rem;
}