:root {
    // COLORS
    --blue: #01264A;
    --yellow: #FAAB0B;
    --white: #F7F0E1;
    --yellow-light: #ffc44e;

    // RADIAL
    --radial: radial-gradient(50% 50% at 50% 50%, rgba(1, 38, 74, 0.5) 0%, rgba(9, 4, 1, 0.5) 100%);

    // TYPO
    --font-title: 'Cinzel', serif;
    --font-text: 'Comfortaa', sans-serif;
}